{{!-- // name, location, style, description, rating --}}
<header>
    <a href="/users/logout">Sign Out</a>
</header>        


<main>
    <h1>{{title}}</h1>
    <h3>{{type}} : {{searchStr}}</h3>

    <ul>
        {{#each foundData}}
            <li>
                {{!-- <p>{{../userId}}  {{_id}}</p> --}}
                <a href="/venues/{{../userId}}/{{_id}}">{{name}}</a>
                <p>Location: {{location}}</p>
                <p>Rating: {{rating}}</p>
            </li>
        {{/each}}
    </ul>   

    <div id="error-container"></div>

    {{#if hasErrors}}
        <p class="not-found">We're sorry, but no results were found for "{{type}} : {{searchStr}}".</p>
    {{/if}}
</main>

<footer>
    <a href="/{{userId}}/home">Make another Search</a>
</footer>
